<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://edgealertfunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4f1788df-797c-45ee-a990-d1b8f1c3a092/resourcegroups/DefaultResourceGroup-SUK/providers/Microsoft.Web/sites/EdgeAlertFunc</ResourceId>
    <UserName>$EdgeAlertFunc</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://edgealertfunc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>